a{ text-decoration:none; outline:none;}

a:hover{ text-decoration:none; outline:none;}

a:focus{ text-decoration:none; outline:none;}



button:focus{ text-decoration:none; outline:none;}

button{ text-decoration:none; outline:none;}

.errormsg{ font-size:12px; color:#ff0000;}



.navbar-static-top{background:#68d3c9!important; color:#fff;}














