
<div class="container-fluid aboutpageheading">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><!--about me--><content name='aboutheading173' id='173' > </content></h2>

        </div>
    </div>
</div>



<div class="container aboutpagebody">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="about_icon2">
            <!--<img src="images/about_icon2.png" alt="#" >--> <content name='about_icon2176' id='176' > </content>
</div>

            <div class="abouttextblock1">
                  <div class="aboutimg1">
               <!-- <img src="images/aboutimg.png" alt="#" >--><content name='aboutimg1178' id='178' > </content>
                  </div>
                <div class="abouttextpart1"> <h3><!--Rorree Tillman--> <content name='abouttext1heading174' id='174' > </content></h3>
                    <h4><!--<span>Rorree Tillman</span>  is recognized as an award-winning entrepreneur and owner<br/>
                        of multiple businesses who enlivens audiences as a dynamic speaker,<br/>
                        motivational teacher and intuitive advisor.--> <content name='abouttext1175' id='175' > </content></h4>

                </div>

                <div class="clearfix"></div>



            </div>


            <div class="abouttextblock2">

                <div class="abouttextpart2">
                    <p>
                       <!-- With a Doctorate of Human Letters from Global Opus Dei Seminary & University, a Masters in Social Work from Howard University and undergraduate studies at the University of Maryland, Rorree’s formal education covered the vast arena of sociology, social work, project management, and women’s spirituality. Her vast post graduate education has included her mastering the teachings of John Maxwell, Anthony Robbins, and Bob Proctor. In addition, she has had the privilege to learn from spiritual healers and teachers like John of God, Grand Master Choa Kok Sui, Theresa The Blessed One, Donald Epstein, Lance Wright and Rose Ledbetter. She is gifted as a spiritual healer and has studied people, energy healing, Pranic Healing, and Theta Healing for over 25 years. Rorree is an asset to the Personal Transformation Movement.
                        -->
                        <content name='abouttextpart2179' id='179' > </content>
                    </p>

                </div>

                <div class="aboutvideo">
                    <div class="videoWrapper">
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/DneAu5KjVlc?rel=0" frameborder="0" allowfullscreen></iframe>-->
                        <content name='aboutvideo187' id='187' > </content>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="abouttextpart3">

                    <!--Rorree has a natural way of delivering content in a way that you will get it and retain the teachings for life. She has a method through teaching true work/life balance.
                    She creates individualized systems <span>for economic empowerment, team building, personal development, group dynamics and spiritual awareness.</span> Through her guidance
                    you will successfully acquire the tools to reach your fullest potential.<br />
                    <br />
                    People who have heard Rorree speak testify to her <span>amazing energy and spirit</span>, and her ability to empower them with an array of health and wealth building tools. It is Rorree’s talent to create a positive learning environment for diverse audiences. Her open, engaging and insightful personality enables her to work with small
                    and large groups.-->
                    <content name='abouttextpart3180' id='180' > </content>
                </div>

                <div class="aboutimg2">

               <!-- <img src="images/aboutimg2.png" alt="#" >-->
                    <content name='aboutimg181' id='181' > </content>
                </div>

                <h4><!--It is her gift to make connections with people in order to set them<br />
                    free to reach their fullest potential --><content name='abouth4text182' id='182' > </content></h4>

            </div>






        </div>

    </div>

</div>

    




