<div class="container-fluid affiliateageheading">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><!--Affiliate--><content name='affiliateheading183' id='183' > </content></h2>

        </div>
    </div>
</div>


<div class="container affiliatpagebody1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="about_icon2" style="margin-top: -80px;">
               <img src="images/affileatetopicon.png" alt="#" >
            </div>

            <h2><!--How it works--><content name='affiliatpagebody1_text1184' id='184' > </content></h2>


            <div class="affiliate_img1">

                <content name='affiliate_img1185' id='185' > </content>
            </div>

         <!--   <ol>
                <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></li>
                <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></li>
                <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></li>
                <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></li>
                <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></li>
            </ol>--><content name='affiliate_litext186' id='186' > </content>



            <div class="clearfix"></div>



        </div>
    </div>
</div>


<div class="container affiliatpagebody2">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <h2><!--Becoming an Affiliate--><content name='affiliatpagebody2_heading189' id='189' > </content></h2>

            <div class="affiliate_textblock">
                <content name='affiliate2_text1190' id='190' > </content>
            </div>

            <div class="affiliate_textblock">
               <div class="affiliate2_img2"><content name='affiliate2_img2192' id='192' > </content></div>

            <content name='affiliate2_text2191' id='191' > </content>
            <div class="clearfix"></div>
            </div>

                <div class="affiliate_textblock"><content name='affiliate2_text3193' id='193' > </content> </div>

        </div>
    </div>
</div>