<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>
            Affiliate Track Manager

        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="javascript:void(0)" class="active">Manage Affiliate </a></li>

        </ol>
        <div class="newblock1">
            <!-- <a ui-sref="add-affiliate" class="addfrinderbtn">Add Affiliate</a>-->
            <input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search Affiliate Tracking">

            <div class="clear"></div>
        </div>
        <div class="clear"></div>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Affiliate Track Details List</h3>
                    </div><!-- /.box-header -->
                    <table id="example1" class="table table-bordered table-striped" ng-show="affiliatelist.length>0">
                        <thead>
                        <tr>
                            <!--<th><a ng-click="order('affiliate_hit_id')" href="javascript:void(0);">Affiliate Hit ID</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'affiliate_hit_id'"></span>
                            </th>-->
                            <th><a ng-click="order('affiliate_hit_ip')" href="javascript:void(0);">Hitting IP</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'affiliate_hit_ip'"></span>
                            </th>
                           <!-- <th><a ng-click="order('affiliate_hit_type')" href="javascript:void(0);">Hitting Affiliation type</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'affiliate_hit_type'"></span>
                            </th>-->
                            <th><a ng-click="order('hit_time')" href="javascript:void(0);">Hitting Time</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'hit_time'"></span>
                            </th>

                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat=" item in  filterResult = (affiliatelist | filter:search) | startFrom:(currentPage-1)*perPage | limitTo:perPage | orderBy:predicate:reverse">
                           <!-- <td>{{item.affiliate_hit_id}}</td>-->
                            <td>{{item.affiliate_hit_ip}}</td>
                            <!--<td>{{item.affiliate_hit_type}}</td>-->
                            <td>{{item.hit_time}}</td>
                            <td><a tooltip-placement="bottom" ng-click="affiliatehitdel(item)" uib-tooltip="Click to delete affiliate tracking">Delete</a></td>
                        </tr>

                          </tbody>

                    </table>
                    <div ng-show="filterResult.length > perPage" class="paginationblock">
                        <uib-pagination total-items="filterResult.length" ng-model="currentPage" items-per-page="perPage" max-size="4"></uib-pagination>
                    </div>
                    <div ng-if="affiliatelist.length == 0" class="callout callout-danger">
                        <h4>Sorry</h4>

                        <p>No affiliate tracking exists in system right now !!.</p>
                    </div>

                </div><!-- /.box --> 



            </div>

        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div>


<!--
<script type="text/ng-template" id="affiliatetrackdetailsdelconfirm.html">
    <div class="confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope" href="javascript:void(0)"><img src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <h2 class="ng-scope">Are you sure you want to delete this affiliate hit?</h2>
        <div class="confirm_delbtn ng-scope">
            <input type="button"  ng-click="confirmaaffiliatehitdelete()" class="subbtn" value="Confirm">
            <input type="button" ng-click="cancel()" class="subbtn" value="Cancel">
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>
-->


<script type="text/ng-template" id="affiliatetrackdetailsdelconfirm.html">
    <div class="confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope" href="javascript:void(0)"><img src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <h2 class="ng-scope">Are you sure you want to delete this affiliate hit?</h2>
        <div class="confirm_delbtn ng-scope text-center">
            <input type="button" href="javascript:void(0)" ng-click="confirmaaffiliatehitdelete()" class="subbtn" value="Confirm">
            <input type="button" ng-click="cancel()" class="subbtn" value="Cancel">
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>

