<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>
            Affiliate Track Manager

        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="javascript:void(0)" class="active">Manage Affiliate </a></li>

        </ol>
        <div class="newblock1">
           <!-- <a ui-sref="add-affiliate" class="addfrinderbtn">Add Affiliate</a>-->
            <input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search Affiliate Tracking">

            <div class="clear"></div>
        </div>
        <div class="clear"></div>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Affiliate Track List</h3>
                    </div><!-- /.box-header -->
                    <table id="example1" class="table table-bordered table-striped" ng-show="affiliatelist.length>0">
                        <thead>
                        <tr>
                            <th><a ng-click="order('affiliate_name')" href="javascript:void(0);">Affiliate Name</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'affiliate_name'"></span>
                            </th>
                            <th><a ng-click="order('total_hit')" href="javascript:void(0);">Total Hit</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'total_hit'"></span>
                            </th>
                            <th><a ng-click="order('total_o')" href="javascript:void(0);">Total Order</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'total_o'"></span>
                            </th>
                           <!-- <th>Action</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat=" item in  filterResult = (affiliatelist | filter:search) | startFrom:(currentPage-1)*perPage | limitTo:perPage | orderBy:predicate:reverse">

                            <td>{{item.affiliate_name}}</td>
                            <td>{{item.total_hit}}</td>
                            <td>{{item.total_o}}</td>
<!--
                            <td><a tooltip-placement="bottom" uib-tooltip="Click to view details" ui-sref="affiliatetrackdetails({affiliate_id:item.user_id})">View Details</a></td>
-->
                        </tr>

                          </tbody>

                    </table>
                    <div ng-show="filterResult.length > perPage" class="paginationblock">
                        <uib-pagination total-items="filterResult.length" ng-model="currentPage" items-per-page="perPage" max-size="4"></uib-pagination>
                    </div>
                    <div ng-if="affiliatelist.length == 0" class="callout callout-danger">
                        <h4>Sorry</h4>

                        <p>No affiliate tracking exists in system right now !!.</p>
                    </div>

                </div><!-- /.box -->



            </div>

        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div>


