<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
           Blog Manager

          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <!--<li><a href="#">Tables</a></li>-->
            <li class="active">Blog List</li>
          </ol>
            <div class="newblock1">
<a ui-sref="add-blog" class="addfrinderbtn">Add Blog</a>
            <input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search Blog">
                
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Blog List</h3>
                </div><!-- /.box-header -->


               <table ng-if="bloglist.length > 0" id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>

                        <th>Blog Name</th>
                        <th>Blog File</th>

                          <th>Blog Description</th>
                          <th>Blog Asset</th>

                          <th>Posted By </th>

                        <th>Status</th>
                         <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr ng-repeat=" item in bloglist | filter:search">
                        <td>{{item.blog_name}}</td>
                        <td ng-show="item.blog_asset=='Image'"><img src="{{item.blog_file_url}}"></td>
                        <td ng-show="item.blog_asset=='Video'"> <youtube-video  style="height:130px;width:160px;" class="embed-responsive-item" video-id="item.blog_file"></youtube-video></td>
                        <td>{{item.blog_description}}</td>
                        <td>{{item.blog_asset}}</td>
                        <td>{{item.name}}</td>

                        <td><a href="javascript:void(0)" ng-click="changeStatus(item)"> {{(item.blog_status==1) ? 'Active' : 'Blocked'}}</a> </td>
                        <td> <a ui-sref="edit-blog({blogid:item.id})" >Edit</a>&nbsp;&nbsp;<a href="javascript:void(0)" ng-click="delblog(item)" >Delete</a></td>
                      </tr>

                    </tbody>
                    
                  </table>

                 <!-- <div ng-show="bloglist.length > perPage" class="paginationblock">
                  <uib-pagination total-items="bloglist.length" ng-model="currentPage" items-per-page="perPage" max-size="4" ng-change="pageChanged()"></uib-pagination>
                  </div>-->
<!--
                  <div ng-if="userlist.length == null" class="paginationblock">
                    <span class="error_msg1">No Records Found!</span>
                  </div>
-->

                  <div ng-if="bloglist.length == 0" class="callout callout-danger">
                      <h4>Sorry</h4>

                      <p>No blog exists in system right now !!.</p>
                  </div>


              </div><!-- /.box -->



            </div>
           
          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div>
<script type="text/ng-template" id="blogconfirm.html">
    <div class="confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope" href="javascript:void(0)"><img src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <h2 class="ng-scope">Are you sure you want to delete this blog?</h2>
        <div class="confirm_delbtn ng-scope text-center">
            <input type="button" ng-click="confirmblogdelete()" class="subbtn" value="Confirm">
            <input type="button" ng-click="cancel()" class="subbtn" value="Cancel">
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>