<div class="container-fluid checkoutheading">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>CHECKOUT</h2>

        </div>
    </div>
</div>

<div class="container checkoutbody1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="about_icon2" style="margin-top: -80px;">
                <img src="images/chakeout_headingicon2.png" alt="#" >
            </div>

            <div class="checkout_block_wrapper">
                <!--<div class="chakeout_blog1">
                    <h2>Account Information</h2>

                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control">
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control">
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label>Retype Password</label>
                        <input type="password" class="form-control">
                        <div class="clearfix"></div>
                    </div>
                </div>-->

                <form angular-validator-submit="checkoutsubmit()" id="checkout" name="checkout" role="form" novalidate angular-validator>

                    <div class="chakeout_blog2">
                        <h2>Billing INFORMATION</h2>
                        <div ng-show="errormsg" class="errormsg">{{errormsg}}</div>
                        <div class="form-group checkbox_con1">
                            <input type="checkbox" ng-model="billform.billshipchk">
                            <span>My billing and shipping address are the same</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Select Address</label>
                            <select class="form-control"  name="prevaddress" ng-model = "billform.prevaddress" ng-change="changeAddress(billform.prevaddress)" ng-options="item.address_title for item in addressList track by item.id">
                                <option value="">New</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Address Tiltle</label>
                            <input type="text" class="form-control" placeholder="Address Title (Like home,office etc)" name="address_title" ng-model="billform.address_title" required-message="'Address Title can not be blank.'" required>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="bname" ng-model="billform.bname" required-message="'Name can not be blank.'" required>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Company</label>
                            <input type="text" class="form-control" placeholder="Company" name="company" ng-model="billform.company" >
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" rows="2" placeholder="Address" name="address" ng-model="billform.address" required-message="'Address can not be blank.'" required></textarea>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Address line 2</label>
                            <textarea class="form-control" rows="2"  placeholder="Address Line 2" name="address2" ng-model="billform.address2"></textarea>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" class="form-control"  placeholder="City" name="city" ng-model="billform.city" required-message="'City can not be blank.'" required>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control"  name="country" ng-model = "billform.country" required-message="'Country cannot be blank.'" required ng-options="item.s_name for item in countryList track by item.id" ng-change="changeCountry(billform.country)">
                                <option value="" style="padding-left:5px; ">Select Your Country</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <select class="form-control"  name="state" ng-model = "billform.state" required-message="'State cannot be blank.'" required ng-options="item.s_st_name for item in stateList track by item.id">
                                <option value="" style="padding-left:5px; ">Select Your State</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Zip Code</label>
                            <input type="text" class="form-control" placeholder="Zip Code" name="zip" ng-model="billform.zip" required-message="'Zip can not be blank.'" required>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="billform.phone" required-message="'Phone can not be blank.'" required>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="billform.email" required-message="'Email can not be blank.'" invalid-message="'Enter valid email address.'" required>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="chakeout_blog2" ng-show="!billform.billshipchk">
                        <h2>Shipping INFORMATION</h2>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="shipbname" ng-model="shipform.bname" required-message="'Name can not be blank.'" ng-required="!billform.billshipchk">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Company</label>
                            <input type="text" class="form-control" placeholder="Company" name="shipcompany" ng-model="shipform.company" >
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" rows="2" placeholder="Address" name="shipaddress" ng-model="shipform.address" required-message="'Address can not be blank.'" ng-required="!billform.billshipchk"></textarea>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Address line 2</label>
                            <textarea class="form-control" rows="2"  placeholder="Address Line 2" name="shipaddress2" ng-model="shipform.address2"></textarea>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" class="form-control"  placeholder="City" name="shipcity" ng-model="shipform.city" required-message="'City can not be blank.'" ng-required="!billform.billshipchk">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <select id="country" class="form-control"  name="shipcountry" ng-model = "shipform.country" required-message="'Country cannot be blank.'" ng-required="!billform.billshipchk" ng-options="item.s_name for item in countryList track by item.id" ng-change="changeCountry1(shipform.country)">
                                <option value="" style="padding-left:5px; ">Select Your Country</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <select id="state" class="form-control"  name="shipstate" ng-model = "shipform.state" required-message="'State cannot be blank.'" ng-required="!billform.billshipchk" ng-options="item.s_st_name for item in shipstateList track by item.id">
                                <option value="" style="padding-left:5px; ">Select Your State</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Zip Code</label>
                            <input type="text" class="form-control" placeholder="Zip Code" name="shipzip" ng-model="shipform.zip" required-message="'Zip can not be blank.'" ng-required="!billform.billshipchk">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" placeholder="Phone" name="shipphone" ng-model="shipform.phone" required-message="'Phone can not be blank.'" ng-required="!billform.billshipchk">
                            <div class="clearfix"></div>
                        </div>
                    </div>

                <div class="chakeout_blog2">
                    <h2>payment INFORMATION</h2>
                    <div class="form-group checkbox">
                        <div class="form-group radiobox2">
                            <span><input type="radio" value=""> <img src="images/chakeout_icon2.png" alt="#" ></span>
                            <span><input type="radio" value=""> <img src="images/chakeout_icon3.png" alt="#" ></span>
                            <span><input type="radio" value=""> <img src="images/chakeout_icon4.png" alt="#" ></span>
                            <span><input type="radio" value=""> <img src="images/chakeout_icon5.png" alt="#" ></span>
                            <span><input type="radio" value=""> <img src="images/chakeout_icon6.png" alt="#" ></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Card Type</label>
                        <input type="text" class="form-control" name="card_type" ng-model="cartform.card_type">
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label>Card Number</label>
                        <input type="text" class="form-control" name="card_no" ng-model="cartform.card_no" required-message="'Card no. can not be blank'" required>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label>Expiry Date</label>
                        <select class="form-control-date1" name="card_exp_mon" ng-model="cartform.card_exp_mon" reuired-message="'Card expired month can not be blank'" required>
                            <option value="">Select Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>

                        </select>
                        <select class="form-control-date2" name="card_exp_year" ng-model="cartform.card_exp_year" required-mesage="'Card expired year can not be blank'">
                            <option value="">Select Year</option>
                            <option ng-repeat="year in cardyear" value="{{year}}">{{year}}</option>

                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label>CVV</label>
                        <input type="text" class="form-control-CVV" name="cvv_code" ng-model="cartform.cvv_code" required-message="'CVV code can not be blank'" required >
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="chakeout_blog2" style="border: none;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th align="left" valign="middle">ITEM</th>
                            <th align="center" valign="middle" style="text-align: center">Quantity</th>
                            <th align="right" valign="middle" style="text-align: right">PRICE</th>
                            <th align="right" valign="middle" style="text-align: right">Subtotal</th>
                        </tr>
                        <tr ng-repeat="item in cartarray2">
                            <td align="left" valign="middle">{{item.product_name}}</td>
                            <td align="center" valign="middle">{{item.qty}}</td>
                            <td align="right" valign="middle"><span>${{item.price}}</span></td>
                            <td align="right" valign="middle"><span>${{item.subtotal}}</span></td>
                        </tr>
                        <tr>
                            <td align="left" valign="middle" colspan="3" class="subtotalrow">Sub-Total</td>
                            <td align="right" valign="middle" class="subtotalrow">${{cartarray.subtotal}}</td>
                        </tr>
                        <tr>
                            <td align="left" valign="middle" colspan="3" class="subtotalrow">Shipping</td>
                            <td align="right" valign="middle" class="subtotalrow">$0.00</td>
                        </tr>
                        <tr>
                            <td align="left" valign="middle" colspan="3" class="subtotalrow">Tax</td>
                            <td align="right" valign="middle" class="subtotalrow">$0.00</td>
                        </tr>
                        <tr>
                            <td align="left" valign="middle" colspan="3" class="totalrow">Total</td>
                            <td align="right" valign="middle" class="totalrow">${{cartarray.subtotal}}</td>
                        </tr>
                    </table>
                </div>
                <div class="chakeout_blog2 termsblog" style="padding-bottom: 10px;">
                    <h2>TERMS & CONDITIONS</h2>
                    <div class="termsconditiontext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum lobortis metus vel vulputate. Maecenas imperdiet purus a velit egestas egestas. Nullam in velit vitae massa dapibus dignissim lacinia id urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id quam aliquet, porttitor magna at, mattis augue. Vestibulum pellentesque aliquet fermentum. Nulla facilisi. Pellentesque at fermentum metus. Integer pulvinar massa in ligula pulvinar, molestie mattis ligula gravida. Vivamus ut sem a nulla fringilla dictum ut eu tellus. Mauris non arcu facilisis, dignissim enim vitae, pellentesque sem.</div>
                    <div class="checkbox2"> <input type="checkbox"><span>I agree to the terms & conditions</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-button-group">
                    <a href="javascript:void(0)" class="chakeoutbtn"> back to cart </a>
                    <!--<a href="javascript:void(0)" class="chakeoutbtn"> PLACE ORDER </a>-->
                    <input type="submit" class="chakeoutbtn" value="PLACE ORDER" >
                    <div class="clearfix"></div>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>