<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Product Manager

        </h1>
        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>-->
    </section>





    <section class="content">
        <div class="row">

            <!-- left column -->
            <div class="col-md-12">

                <!-- general form elements -->
                <div class="box box-primary" style="overflow:hidden; padding-bottom:40px;">

                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Product</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="formsection">
                        <form role="form" angular-validator-submit="editproductsubmit()" name="editproductform" novalidate angular-validator>
                            <div class="box-body">
                                <div class="form-group">
                                    <label >Product Name</label>
                                    <input type="text" class="form-control"  placeholder="Product Name" name="product_name"
                                           ng-model="form.product_name"
                                           required-message="'Product Name can not be blank.'"
                                           required>

                                    <!-- <span class="errormsg">erroe msg</span>-->
                                </div>
                                <div  class="form-group">
                                    <label>Product Description</label>
                                    <textarea ui-tinymce="tinymceOptions" name="cat_desc" placeholder="Product Description" class="form-control" rows="3" ng-model="form.product_desc" required-message="'Product description can not be blank.'" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label >Category * :</label>

                                    <select multiple="multiple"  name="category_id" class ="form-control" validate-on="dirty" ng-model = "form.category_id" required-message="'Select category'" required ng-options="item.cat_name for item in categorylist track by item.id" style="background:#fff none repeat scroll 0 0 !important;  padding: 0 0 0 0px!important;"  >
                                        <option value="" style="padding-left:5px; ">Select  Category</option>

                                    </select>
                                    <!--required-message="'Select parent category.'" required-->

                                    <div class="clearfix"></div>


                                </div>
                                <div class="form-group" >
                                    <label >Product file(jpg,png,gif,mp4)* :</label>
                                    <div class="clearfix"></div>

                                    <div class="playerdiv">
                                        <img ng-show="productfiletype=='image'" src="{{product_img_src}}">
                                       <!-- <img ng-if="product_img_src!=false" src="{{product_img_src}}">-->
                                        <img ng-show="productfiletype=='video'" class="picon" ng-click="showvideo(video_url1222)" src="/images/palyicon.png">
                                    </div>



                                    <!--<div ng-if="product_video_src!=false" id="maintvDiv"></div>-->


                                    <div class="clearfix"></div>
                                    <input type="button" class="uploadbtn btn  btn-md"   value="Upload" ngf-drop ngf-select ng-model="product_upload" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" accept="'video/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">
                                    <div class="progress" ng-show="product_upload[0].progress >= 0"> <div style="width:{{product_upload[0].progress}}%; background:#00c0ef;" ng-bind="product_upload[0].progress + '%'"></div></div>
                                    <div class="clearfix"></div>
                                    <span class="errormsg has-error validationMessage"></span>
                                </div>
                                <div class="form-group">
                                    <label >Priority</label>
                                    <input type="text" class="form-control"  placeholder="Priority" name="priority"
                                           ng-model="form.priority"
                                           required-message="'Priority can not be blank.'"
                                           required>

                                    <!-- <span class="errormsg">erroe msg</span>-->
                                </div>

                                <div class="form-group">
                                    <label >Price</label>
                                    <input type="text" class="form-control"  placeholder="Price" name="price"
                                           ng-model="form.price"
                                           required-message="'Price can not be blank.'"
                                           required>

                                    <!-- <span class="errormsg">erroe msg</span>-->
                                </div>
                                <div class="form-group">
                                    <label >Payout</label>
                                    <input type="text" class="form-control"  placeholder="payout" name="payout"
                                           ng-model="form.payout"
                                           required-message="'Payout can not be blank.'"
                                           required>

                                    <!-- <span class="errormsg">erroe msg</span>-->
                                </div>
                                <div class="form-group">
                                    <label >Credits</label>
                                    <input type="text" class="form-control"  placeholder="credits" name="credits"
                                           ng-model="form.credits"
                                           required-message="'Credits can not be blank.'"
                                           required>

                                    <!-- <span class="errormsg">erroe msg</span>-->
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="is_download"  ng-checked="form.is_download ==1"  ng-model="ModelData.is_download"> <span style="font-size:13px;">Is Downloadable?</span>
                                    </label>



                                </div>
                                <div class="form-group" ng-show="ModelData.is_download || form.is_download" >
                                    <!--ng-show="form.category_id.type=='Stock Image' || form.category_id.type=='Stock Video'"-->
                                    <label >Downloadable file(jpg,png,gif,mp4,pdf,docx)* :</label>
                                    <div class="clearfix"></div>
                                    <div class="playerdiv">
                                        <img ng-show="productdownloadfiletype=='image'" src="{{product_download_src}}">
                                        <img ng-show="productdownloadfiletype=='doc'" src="/images/docx.png">
                                        <img ng-show="productdownloadfiletype=='pdf'" src="/images/pdf.png">
                                        <img ng-show="productdownloadfiletype=='video'" class="picon" ng-click="showvideo1(video_ur_downloadl1222)" src="/images/palyicon.png">
                                    </div>




                                    <!--<div ng-if="product_video_src!=false" id="maintvDiv"></div>-->


                                    <div class="clearfix"></div>
                                    <input type="button" class="uploadbtn btn  btn-md"   value="Upload" ngf-drop ngf-select ng-model="product_download" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" accept="'video/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">
                                    <div class="progress" ng-show="product_download[0].progress >= 0"> <div style="width:{{product_upload[0].progress}}%; background:#00c0ef;" ng-bind="product_download[0].progress + '%'"></div></div>
                                    <div class="clearfix"></div>
                                    <span class="errormsg has-error validationMessage"></span>
                                </div>




                            </div>


                            <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div><!-- /.box -->


                    <div style="clear:both;"></div>
                </div>

            </div>   <!-- /.row -->
        </div>
    </section>


</div>

