<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Blog Manager

        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><a ui-sref="Blog-list">Manage Blog </a></li>
            <li><a href="javascript:void(0)" class="active"> Edit Blog </a></li>

        </ol>
    </section>




    <section class="content">
        <div class="row">


            <!-- left column -->
            <div class="col-md-12">

                <!-- general form elements -->
                <div class="box box-primary" style="overflow:hidden; padding-bottom:40px;">

                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <h3 class="box-title">Edit Blog</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="formsection">
                        <form angular-validator-submit="editblogformsubmit()" id="edit_blog" name="edit_blog" role="form" novalidate angular-validator>
                            <div class="box-body">

                                <div class="form-group">
                                    <label >Blog Name* :</label>
                                    <input type="text" class="form-control" placeholder="Blog Name " name="blog_name"

                                           ng-model="form.blog_name"
                                           required-message="'Blog name can not be blank.'"
                                           required>

                                    <!-- <span class="errormsg">erroe msg</span>-->
                                </div>
                                <div class="form-group">
                                    <label >Blog Description* :</label>
                     <textarea rows="3" class="form-control" placeholder="Blog Description" name="blog_description"

                               ng-model="form.blog_description"
                               required-message="'Blog description can not be blank.'"
                               required
                     ></textarea>

                                    <!-- <span class="errormsg">erroe msg</span>-->
                                </div>
                                <div class="form-group"  >
                                    <label >Blog Asset* :</label>
                                    <select class="form-control" name="blog_asset" ng-model="form.blog_asset" required-message="'Select blog asset'" required>
                                        <option value="">Select Blog Asset</option>
                                        <option value="Image">Image</option>
                                        <option value="Video">Video</option>
                                    </select>
                                </div>

                                <div class="form-group" ng-show="form.blog_asset=='Image'" >
                                    <!--ng-show="form.category_id.type=='Stock Image' || form.category_id.type=='Stock Video'"-->
                                    <label >Blog Image(jpg,png,gif)* :</label>
                                    <div class="clearfix"></div>
                                    <img ng-if="blog_img!=false" src="{{blog_img}}">
                                    <!--<div ng-if="product_video_src!=false" id="maintvDiv"></div>-->


                                    <div class="clearfix"></div>
                                    <input type="button" class="uploadbtn btn  btn-md"   value="Upload" ngf-drop ngf-select ng-model="blog_imgupload" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" accept="'video/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">
                                    <div class="progress" ng-show="blog_imgupload[0].progress >= 0"> <div style="width:{{blog_imgupload[0].progress}}%; background:#00c0ef;" ng-bind="blog_imgupload[0].progress + '%'"></div></div>
                                    <div class="clearfix"></div>
                                    <span class="errormsg has-error validationMessage"></span>
                                </div>
                                <div class="form-group" ng-show="form.blog_asset=='Video'" >
                                    <div ng-if="blog_video_url!=false" style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper" >
                                        <youtube-video class="embed-responsive-item" video-id="blog_video_url"></youtube-video>
                                    </div>

                                    <!--ng-show="form.category_id.type=='Stock Image' || form.category_id.type=='Stock Video'"-->
                                    <input type="text" class="form-control" name="search_youtube" ng-model="form.search_youtube" placeholder="Search youtube video">
                                    <div class="clearfix"></div>
                                    <button type="button" class="btn btn-primary" ng-click="youtubesearch()">Search</button>
                                    <div class="clearfix"></div>

                                    <!--<div ng-if="product_video_src!=false" id="maintvDiv"></div>-->


                                    <div class="clearfix"></div>
                                    <!--
                                                              <input type="button" class="uploadbtn btn  btn-md"   value="Upload" ngf-drop ngf-select ng-model="Blog_imgupload" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" accept="'video/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">

                                                              <div class="progress" ng-show="Blog_imgupload[0].progress >= 0"> <div style="width:{{product_upload[0].progress}}%; background:#00c0ef;" ng-bind="Blog_imgupload[0].progress + '%'"></div></div>
                                                              <div class="clearfix"></div>-->
                                    <span class="errormsg has-error validationMessage"></span>
                                </div>




                            </div><!-- /.box-body -->

                            <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div><!-- /.box -->


                    <div style="clear:both;"></div>
                </div>

            </div>   <!-- /.row -->
        </div>
    </section>




</div>



<script type="text/ng-template" id="youtubeVideo111">

    <div class="ngdialog-message">

        <h4>Select Video</h4>

        <div class="youtubeVideo">

            <img src="images/newloginclose.png" style="cursor: pointer;"  alt="" class="videopopupclose ngdialog-close" />

            <div ng-repeat="c in vids">

                <div style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper" >
                    <!--         <iframe class="embed-responsive-item" video-id="c.id.videoId" width="80%" height="400"></iframe>
         -->
                    <youtube-video class="embed-responsive-item" video-id="c.id.videoId"></youtube-video>

                    <!--<img src="https://i.ytimg.com/vi/{{c.id.videoId}}/mqdefault.jpg" width="100%">

                    <img src="images/`youtube-playbtn.png" class="paly_video"  ng-click="playYvideo(c.id.videoId)" style="cursor:pointer;">-->

                </div>

                <h1>{{c.snippet.title}}</h1>

                <a href="javascript:void(0)" ng-click="addYtVideo1(c)" class="vidAddBtn">ADD</a>

            </div>

        </div>

    </div>

</script>