<div class="trloginbody">

    <img src="images/logo-totallyrorree.png" alt="#" class="totallyrorreeloginlogo">

    <img src="images/loginimage.png" alt="#" class="loginimage">

    <form angular-validator-submit="forgotpasschecksubmit()"  name="forgotForm" class="trloginwrapper" novalidate angular-validator>

        <h2>Forgot Password</h2>

        <div class="logindevider"></div>
        <p>Check your email and enter access code from your email.</p>
        <div ng-show="errormsg" class="errormsg">{{errormsg}}</div>
        <div class="form-group">
        <label>Your Email</label>
            <input type="text" class="form-control" name="email" ng-model="form.email" readonly="readonly"
                   required-message="'Email can not be blank.'"
                   invalid-message="'Enter valid email address.'"
                   required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label>Access Code</label>
            <input type="text" class="form-control"  name="access_code"
                   ng-model="form.access_code"

                   required-message="'Access code can not be blank.'"
                   required >


            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>



        <div class="clearfix"></div>


        <button class="btn btn-primary loginbtn" type="submit">Next</button>

</form>



</div>





