<div id="ftmenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 pull-left">
                <content name='ftmenu154' id='154' > </content>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="logofooter">
                    <a ui-sref="home">
                    <content name='Menu_Logo20' id='20' > </content></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container-fluid footer-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-bg-left">
                            <content name='footer_left22' id='22' > </content>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <div class="socialmedia">
                            <content name='header_top7' id='7' > </content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>