<div id="slider">
    <div class="container-fluid">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol> -->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <content name='slider_item24' id='24' > </content>
                    </div>
                </div>

                <!-- Controls
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>
        </div>
    </div>
</div>

<div id="rorreelive">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 rorreeliveMRL">
               <content name='rorreelive25' id='25' >  </content>
            </div>
        </div>
    </div>
</div>

<div id="dolar">
    <div class="container">
        <div class="inner-info-top text-center">
            <h3><content name='dolar_inner_info_top32' id='32' > </content></h3>
            <h2><content name='dolar_inner_info_top33' id='33' > </content></h2>
            <p><content name='dolar_inner_info_top41' id='41' > </content></p>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <div class="dolar-content">
                    <div class="purchaseimg">
                        <content name='dolar_dolar_content39' id='39' > </content>
                    </div>
                    <h3><content name='dolar_dolar_content34' id='34' > </content></h3>
                    <p><content name='dolar_dolar_content35' id='35' > </content></p>
                    <content name='dolar_dolar_content36' id='36' > </content>
                    <div class="lineimg">
                        <content name='dolar_dolar_content37' id='37' > </content>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <div class="dolar-content">
                    <div class="purchaseimg">
                        <content name='dolar_dolar_content42' id='42' > </content>
                    </div>
                    <h3><content name='dolar_dolar_content43' id='43' > </content></h3>
                    <p><content name='dolar_dolar_content44' id='44' > </content> </content></p>
                    <div class="lineimg1">
                        <content name='dolarsit49' id='49' > </content>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="dolarsit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <div class="dolatsit_content">
                    <div class="inner-info-top text-center">
                        <h2><content name='dolarsit47' id='47' > </content></h2>
                        <p><content name='dolarsit50' id='50' > </content></p>

                        <div class="btnview">
                            <a href="#" class="btn btn-default btn-lg btn-block btneye"><content name='dolarsit51' id='51' > </content></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="trainer">
    <div class="container">
        <div class="inner-info-top text-center">
            <h3><content name='trainer59' id='59' > </content></h3>
            <h2><content name='trainer60' id='60' > </content></h2>
            <p><content name='trainer61' id='61' > </content></p>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12 trainer-inner pull-left">
                <content name='trainer62' id='62' > </content>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12 trainer-inner pull-right">
                <div class="trainer-content-top text-center">
                    <h2><content name='trainer_inner107' id='107' > </content></h2>
                    <h4><content name='trainer_inner108' id='108' > </content></h4>
                    <p><content name='trainer_inner109' id='109' > </content></p>
                    <p><span><content name='trainer_inner115' id='115' > </content></span></p>
                </div>
                <div class="trainer-content-bottom text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <content name='trainer_inner110' id='110' > </content>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <content name='trainer_inner111' id='111' > </content>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <content name='trainer_inner112' id='112' > </content>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div id="roreemanlive">
    <div class="container">
        <div class="roreemanlive">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 col-xs-12 pull-left roreemanliveimgleft">
                    <img src="../images/roreemanlive-imgleft.png">
                </div>
                <div class="col-xl-8 col-md-8 col-sm-12 col-xs-12 col-xs-12">
                    <div class="roreemanlive_content">
                         <div class="inner-info-top text-center">
                             <h2><content name='roreemanlive_content93' id='93' > </content></h2>
                             <h3><content name='roreemanlive_content94' id='94' > </content></h3>
                             <p><content name='roreemanlive_content95' id='95' > </content></p>
                         </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div id="personaldevlspeaker">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12 trainer-inner pull-left">
                <div class="trainer-content-top text-center">
                    <h2><content name='personaldevlspeaker101' id='101' > </content></h2>
                    <h4><content name='personaldevlspeaker100' id='100' > </content> </h4>
                    <p><content name='personaldevlspeaker102' id='102' > </content></p>
                    <p><span><content name='personaldevlspeaker114' id='114' > </content></span></p>
                </div>
                <div class="trainer-content-bottom text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <content name='personaldevlspeaker103' id='103' > </content>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <content name='personaldevlspeaker104' id='104' > </content>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <content name='personaldevlspeaker105' id='105' > </content>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12 trainer-inner pull-right">
                <content name='personaldevlspeaker99' id='99' > </content>
            </div>

        </div>
    </div>
</div>

<div id="services">
    <div class="container">
        <div class="inner-info-top text-center">
            <h3><content name='services116' id='116' > </content></h3>
            <h2><content name='services118' id='118' > </content></h2>
            <p><content name='services140' id='140' > </content></p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <img src="../images/img-servicesleft.jpg">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="row">
                    <div class="col-md-6 col-xs-12 servicesright one">
                        <h2><content name='servicesright119' id='119' > </content></h2>
                        <p><content name='servicesright120' id='120' > </content></p>
                    </div>
                    <div class="col-md-6 col-xs-12 servicesright two">
                        <h2><content name='servicesright121' id='121' > </content></h2>
                        <p><content name='servicesright122' id='122' > </content></p>
                    </div>
                    <div class="col-md-12 col-xs-12 servicesright three">
                        <h2><content name='servicesright123' id='123' > </content></h2>
                        <p><content name='servicesright124' id='124' > </content></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="sitamet">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sitamet_content">
                    <div class="inner-info-top text-center">
                        <h1><content name='sitamet147' id='147' > </content></h1>
                        <h2><content name='sitamet148' id='148' > </content></h2>
                        <p><content name='sitamet149' id='149' > </content></p>
                        <div class="btnview">
                            <a href="#" class="btn btn-default btn-lg btn-block btneye"><content name='sitamet150' id='150' > </content></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div id="testimonials">
    <div class="container">
            <div class="inner-info-top text-center">
                <h3><content name='Testimonials125' id='125' > </content></h3>
                <h2><content name='Testimonials126' id='126' > </content></h2>
                <p><content name='Testimonials127' id='127' > </content></p>
            </div>
            <div class="testimonialslist text-center">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 singletestimonials">
                        <div class="testiimg">
                            <content name='Testimonialslist128' id='128' > </content>
                            <i><content name='Testimonialslist129' id='129' > </content></i>
                        </div>
                        <h3><content name='Testimonialslist131' id='131' > </content></h3>
                        <p><content name='Testimonialslist132' id='132' > </content></p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 singletestimonials">
                        <div class="testiimg">
                            <content name='Testimonialslist133' id='133' > </content>
                            <i><content name='Testimonialslist129' id='129' > </content></i>
                        </div>
                        <h3><content name='Testimonialslist134' id='134' > </content></h3>
                        <p><content name='Testimonialslist135' id='135' > </content></p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 singletestimonials">
                        <div class="testiimg">
                            <content name='Testimonialslist136' id='136' > </content>
                            <i><content name='Testimonialslist129' id='129' > </content></i>
                        </div>
                        <h3><content name='Testimonialslist137' id='137' > </content></h3>
                        <p><content name='Testimonialslist138' id='138' > </content></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
    </div>
</div>
