<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
         Product Manager
        </h1>
        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>-->
        <div class="newblock1">


            <a ui-sref="add-product" class="addfrinderbtn">Add  Product</a>
            <input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search product">
            <div class="clear"></div>
        </div>
        <div class="clearfix"></div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Product List</h3>
                    </div><!-- /.box-header -->
                    <table id="example1" class="table table-bordered table-striped" ng-show="productlist.length>0">

                        <thead>
                        <tr>
                            <th><a ng-click="order('product_name')" href="javascript:void(0);">Product Name</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'product_name'"></span></th>
                            <th><a ng-click="order('product_desc')" href="javascript:void(0);">Product Description</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'product_desc'"></span></th>
                            <th><a ng-click="order('cat_name')" href="javascript:void(0);">Category Name</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'cat_name'"></span></th>
                            <th><a ng-click="order('payout')" href="javascript:void(0);">Payout</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'payout'"></span></th>
                            <th><a ng-click="order('credits')" href="javascript:void(0);">Credits</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'credits'"></span></th>

                            <th><a ng-click="order('priority')" href="javascript:void(0);">Priority</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'priority'"></span>
                            </th>
                            <th><a ng-click="order('status')" href="javascript:void(0);">Status</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'status'"></span>
                            </th>


                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat=" item in  filterResult = (productlist | filter:search) | startFrom:(currentPage-1)*perPage | limitTo:perPage | orderBy:predicate:reverse">
                            <td>{{item.product_name}}</td>
                            <td ng-bind-html="trustAsHtml(item.product_desc)"></td>
                            <td>{{item.cat_name}}</td>
                            <td>{{item.payout}}</td>
                            <td>{{item.credits}}</td>

                            <td>{{item.priority}}</td>

                            <td><a tooltip-placement="bottom" uib-tooltip="Click to change status" href="javascript:void(0)" ng-click="changeproductstatus(item)">{{(item.status==1)?'Active':'Blocked'}}</a></td>

                            <td><a tooltip-placement="bottom" uib-tooltip="Click to edit product"  ui-sref="edit-product({id:item.id})">Edit</a>&nbsp;&nbsp;&nbsp;<a tooltip-placement="bottom" uib-tooltip="Click to delete product" href="javascript:void(0)" ng-click="jungledelproduct(item)">Delete</a></td>
                        </tr>

                          </tbody>

                    </table>
                    <div ng-show="filterResult.length > perPage" class="paginationblock">
                        <uib-pagination total-items="filterResult.length" ng-model="currentPage" items-per-page="perPage" max-size="4"></uib-pagination>
                    </div>
                    <div ng-if="productlist.length == 0" class="callout callout-danger">
                        <h4>Sorry</h4>

                        <p>No product exists in system right now !!.</p>
                    </div>

                </div><!-- /.box -->



            </div>

        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div>

<!--
<script type="text/ng-template" id="categorydelconfirm.html">
    <div >
        <a ng-click="cancel()" class="shutter-close2 ng-scope" href="javascript:void(0)">X</a>
        <h2 class="ng-scope">Are you sure you want to delete this item?</h2>
        <div style="width:270px; margin:20px auto;" class="ng-scope">
            <input type="button" ng-click="confirmcategorydelete()" class="subbtn" value="Confirm">
            <input type="button" ng-click="cancel()" class="subbtn" value="Cancel">
            <div style="clear:both;"></div>
        </div>
    </div>
</script>
-->


<script type="text/ng-template" id="jungleproductdelconfirm.html">
    <div class="confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope" href="javascript:void(0)"><img src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <h2 class="ng-scope">Are you sure you want to delete this product?</h2>
        <div class="confirm_delbtn ng-scope text-center">
            <input type="button" ng-click="jungleconfirmproductdelete()" class="subbtn" value="Confirm">
            <input type="button" ng-click="cancel()" class="subbtn" value="Cancel">
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/ng-template" id="jungleproductstatusfirm.html">
    <div class="confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope" href="javascript:void(0)"><img src="images/popup-Close.png"> </a>
        <div class="clearfix"></div>
        <h2 class="ng-scope">Are you want to change the status?</h2>
        <div class="confirm_delbtn ng-scope">
            <input type="button" ng-click="jungleconfirmproductstatus()" class="subbtn" value="Confirm">
            <input type="button" ng-click="cancel()" class="subbtn" value="Cancel">
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>