<div  class="admincontain maordermanagerblock">
    <div class="mah2block">
        <h3>Order Manager:</h3>
        <div class="clear"></div>
        <div class="searchcon2" style="width: 526px;">
            <span style="float: left; margin:10px auto;">Search By Date :</span>
            <input type="text" ng-focus="open1()" ng-blur="setDate()" max-date="maxDate" min-date="minDate" close-text="Close" show-weeks="false" ng-required="false" is-open="opened" uib-datepicker-popup="MM/dd/yyyy" ng-model="form.from_date" class="searchbox2 ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-date ng-valid-required" style="margin:0 5px;" placeholder="From Date"><!-- ngIf: isOpen -->
            <input type="text" ng-keydown="open11()" ng-keypress="open11()" ng-keyup="open11()" ng-focus="open11()" ng-blur="setDate1()" min-date="minDate1" show-weeks="false" close-text="Close" ng-required="false" is-open="opened1" uib-datepicker-popup="MM/dd/yyyy" ng-model="form.to_date" class="searchbox2 ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-date ng-valid-required" style="margin:0 5px;" placeholder="To Date"><!-- ngIf: isOpen -->
        </div>
        <div class="newblock1">
            <!--<a ui-sref="add-admin" class="addfrinderbtn">Add Admin</a>-->
            <!--<input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search General User">-->
            <!--Search By Affiliate : <select ng-change="searchbyaffiliate(affiliate)"   name="affiliate" class ="form-control" validate-on="dirty" ng-model = "affiliate"  ng-options="itemaffiliate.name for itemaffiliate in affiliatelist track by itemaffiliate.uid" style="background:#fff none repeat scroll 0 0 !important;  padding: 0 0 0 0px!important;"  >
            <option value="">Select Affiliate Name</option>

        </select>-->
            Search By Status : <select ng-change="searchbyOrderStatus(orderstat)"   name="orderstat" class ="form-control" validate-on="dirty" ng-model = "orderstat"  ng-options="itemstatus.text for itemstatus in orderstatuslist track by itemstatus.id" style="background:#fff none repeat scroll 0 0 !important;  padding: 0 0 0 0px!important;"  >
            <option value="">Select Order Status</option>

        </select>


            <div class="clear"></div>
        </div>
        <div class="maDownloadstable">
            <div class="matablewrapper table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Transaction Id</th>
                        <th>Order By</th>



                        <th>Order Total</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat=" item in  filterResult = (orderlist | filter:search|filter:search1|filter:searchdate) | startFrom:(currentPage-1)*perPage | limitTo:perPage | orderBy:predicate:reverse">

                        <td>{{item.transaction_id}}</td>
                        <td>{{item.orderby}}</td>

                        <td> {{item.order_total}}</td>
                        <td>{{item.orderdate}}</td>

                        <td>{{item.order_status1}}</td>
                        <td><a href="javascript:void(0)" ui-sref="myaccount-order-details({orderid:item.id})" >Order Details</a></td>
                    </tr>

                    <tr  ng-show="filterResult.length > perPage">
                    <td colspan="6">
                        <uib-pagination total-items="filterResult.length" ng-model="currentPage" items-per-page="perPage" max-size="4"></uib-pagination>

                    </tr>
                    <tr  ng-if="orderlist.length == 0">
                        <td colspan="6">
                            <h4>Sorry</h4>

                            <p>No Order exists in system right now !!.</p></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
