<div  class="admincontain maaffiliateblock">
    <div class="mah2block">
        <h3>Affiliate Manager:</h3>
        <div class="clear"></div>
        <div class="maDownloadstable">
            <div class="matablewrapper table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>FILE NAME</th>
                        <th>DESCRIPTION</th>
                        <th>CATEGORY NAME</th>
                        <th>DOWNLOADED ON</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Review-faster-site-4-15-16-660346809-1462258922.pdf</td>
                        <td>xzcz  zxcb z</td>
                        <td>Secretary Of State , Transfer Agents , Press Releases , Balance Sheet , Statement Of Owner&#39;s Equity c</td>
                        <td>05/20/2016 12:34</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

