<div  class="admincontain profileinfoblock">
    <div class="mah2block">
        <h3>Profile Information:</h3>
        <div class="clear"></div>
        <div class="maDownloadstable">
            <form role="form" angular-validator-submit="addproductsubmit()" name="addproductform" novalidate angular-validator>
                <div class="box-body">
                    <div class="form-group">
                        <label >First Name</label>
                        <span class="form-control-static">&#58; First Name</span>
                    </div>
                    <div class="form-group">
                        <label >Last Name</label>
                        <span class="form-control-static">&#58; Last Name</span>
                    </div>
                    <div class="form-group">
                        <label >Email address</label>
                        <span class="form-control-static">&#58; email@example.com</span>
                    </div>
                    <div class="form-group">
                        <label >Password</label>
                        <span class="form-control-static">&#58; Password</span>
                    </div>
                    <div class="form-group">
                        <label >Re-Type Password</label>
                        <span class="form-control-static">&#58; Re-Type Password</span>
                    </div>
                    <div class="form-group">
                        <label >Telephone number</label>
                        <span class="form-control-static">&#58; 12345678</span>
                    </div>
                    <div class="form-group">
                        <label >Mobile Number</label>
                        <span class="form-control-static">&#58; 1234567890</span>
                    </div>
                    <div class="form-group">
                        <label >Address</label>
                        <span class="form-control-static">&#58; Address</span>
                    </div>
                    <div class="form-group">
                        <label >Country</label>
                        <span class="form-control-static">&#58; Country Name</span>
                    </div>
                    <div class="form-group">
                        <label >State</label>
                        <span class="form-control-static">&#58; State</span>
                    </div>
                    <div class="form-group">
                        <label >Date of Birth</label>
                        <span class="form-control-static">&#58; Date of Birth</span>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label>Gender</label>
                        <span class="form-control-static">&#58; Male</span>
                    </div>
                </div>
                <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                    <button type="button" class="btn btn-primary btn-edit">Edit Profile</button>
                    <button type="button" class="btn btn-primary btn-password">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

