<div class="container-fluid orderconfirmationheading">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>ORDER CONFIRMATION</h2>

        </div>
    </div>
</div>


        <div class="orderconfirmation_body">

                <img src="images/orderconfirmation_bg.png" alt="#" >

            <div class="orderconfirmation_body_text1"><h2>ORDER SUCCESSFUL!</h2></div>

            <div class="orderconfirmation_body_text2">

               <h2>Congrats on taking the step towards<br/>
                   the life you deserve</h2>

                <div class="h2devider"></div>

                <h3>THANKS FOR BEING AN AWESOME CUSTOMER!</h3>

            </div>




        </div>