<div class="container-fluid allcategoriesheading">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><!--ALL CATEGORIES--><content name='allcategoriesheading205' id='205' > </content></h2>

        </div>
    </div>
</div>

<div class="container allcategoriespagebody1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="about_icon2" style="margin-top: -80px;">
                <img src="images/productcategory_topicon.png" alt="#" >
            </div>

            <div class="categories_block_wrapper">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 categories_block" ng-repeat="item in categoryList">
                    <div class="categories_box">
                        <img src="{{item.image_url}}" alt="" >
                        <div class="categories_viewblock"><a ui-sref="productbycategory({categoryId:item.id})"> View <span>{{item.cat_name}}</span></a></div>
                    </div>
                </div>



        <div class="clearfix"></div>

        </div>
    </div>
    </div>
</div>