<div class="container-fluid retreatsheading">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><content name='retreat_heading196' id='196' > </content></h2>
        </div>
    </div>
</div>

<div class="container-fluid retreatsbanner">
    <content name='retreatbanner206' id='206' > </content>
</div>

<div class="container retreatsblock1">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 retreatsblock1left">
            <h3><content name='retreatsblock1215' id='215' > </content></h3>
            <h3><content name='retreatsblock1216' id='216' > </content></h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 retreatsblock1right text-center">
            <content name='retreatblock1rightimage230' id='230' > </content>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h5><content name='retreatsblock1h5231' id='231' > </content></h5>
        </div>
</div>
<div class="container retreatsblock2">
    <content name='retreatsblock2225' id='225' > </content>
</div>

<div class="container retreatsblock3">
   <a href="#" class="btn-reserve"><content name='retreatsblock3button232' id='232' > </content></a>
</div>

<div class="container retreatsblock5">
    <div class="devider"></div>
    <div class="clearfix"></div>
    <h2><content name='retreatsblock5h2234' id='234' > </content></h2>
    <h4><content name='retreatsblock1p236' id='236' > </content></h4>
    <content name='retreatsblock6image237' id='237' > </content>
</div>

<div class="container retreatsblock6">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 retreatsblock7left">
            <content name='retreatsblock7content240' id='240' > </content>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 retreatsblock7right">
            <content name='retreatimg7239' id='239' > </content>
        </div>
    </div>
</div>

<div class="container retreatsblock8">
    <div class="devider"></div>
    <div class="clearfix"></div>
    <h2><content name='retreatsblock8h2242' id='242' > </content></h2>
    <h4><content name='retreatsblock8p243' id='243' > </content></h4>
    <content name='retreatsblock8image244' id='244' > </content>
    <p><content name='retreatsblock8p1245' id='245' > </content></p>
    <div class="clearfix"></div>
    <div class="retreatsblock8bottomcontent">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 retreatsblock8left">
                <p><content name='retreatsblock8bottomcontentP246' id='246' > </content></p>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 retreatsblock8right">
                <content name='retreatsblock8right247' id='247' > </content>
            </div>
        </div>
    </div>
</div>

<div class="container retreatsblock9">
        <div class="devider"></div>
        <div class="clearfix"></div>
        <h2><content name='retreatsblock9h2249' id='249' > </content></h2>
        <h4><content name='retreatsblock9h4250' id='250' > </content></h4>
        <p><content name='retreatsblock9p251' id='251' > </content></p>
        <div class="clearfix"></div>
        <div class="retreatsblock9bottomcontent">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 retreatsblock9left">
                    <content name='retreatsblock9leftlist252' id='252' > </content>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 retreatsblock9right">
                    <content name='retreatsblock9rightimage253' id='253' > </content>
                </div>
            </div>
        </div>
</div>

    




