<div class="container-fluid event_top_block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="event_bannersloderbox">


                <div class="event_bannerbg"><img src="images/services_topbanner.png" alt="#"></div>

                <div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
                <div class="logo">
                    <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>
                </div>

                <img src="images/servicesheading.png" alt="#" class="contact_bannertext">

                <img src="images/servicesdrone.png" alt="#" class="event_bannerdrone">

            </div>

        </div>
    </div>
</div>

<div class="clear"></div>


<div class="container-fluid contact_body_container">

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 services_wrapper ">
        
        
        <div class="services_toptext">
        
     
        
        <div class="right_text">
        
        
           <img src="images/imgpsh_fullsize.png" alt="#" class="services_topimg">

        You really should hire us! We have a large number of services that we offer to companies, government, event managers, private groups and even the general public. We can come and shoot your event from the sky, train you and your group to be expert pilots and number of other incredible opportunities. Our in-house staff absolutely will impress you with their positive attitudes, enthusiasm and outstanding customer service. Please review the list of services below and get in touch today. WE ARE THE DRONE PROFESSIONALS. This ground breaking industry has a tremendous amount to offer you and your forthcoming ventures. We want IN! Hire us today.</div>
        <div class="clear"></div>
        </div>


<div class="services_blog">
                <div class="services_heading"><div><label><h3>AERIAL <span>Videography / Photography</span></h3></label></div></div>

                <img src="images/sevicesimg5.png" alt="#" class="servicesimg" />

                <div class="services_textwrapper">
                    <p> We can give you all the advanced professional services that you could ever need to create aerial video and photography that will impress and immerse your audience. Our professional pilots are here to serve you in a way that no other company can. Our Jungle Drone pilots can be directly hired to and create a new medium for capturing beautiful and breathtaking photograph and videography. We provide cutting edge Aerial solutions for your needs. 
                    </p>  


<div class="moretext ng-hide">

<div class="more_img">
  <img src="images/Aerial.jpg" alt="#">
  </div>

  

 We can give you all the advanced professional services that you could ever need to create aerial video and photography that will impress and immerse your audience. Our professional pilots are here to serve you in a way that no other company can. Our Jungle Drone pilots can be directly hired to and create a new medium for capturing beautiful and breathtaking photograph and videography. We provide cutting edge Aerial solutions for your needs. 

<br />
<br />

 Jungle Drone’s unique blend of creativity and expertise offers dynamic solutions that tailor to the needs to your projects. We provide full-service product in all aspects regarding Aerial Videography/Photography, from Outdoor Festivals to  Promotional Events, Concerts, Sports Team, Commercial Real Estate, Schools and Universities, Resorts, Tourism, Weddings, Golf Courses...you name it, we’ll capture it. Our state of the art equipment provides ultra quality, high definition, and eye catching video and images that’s sure to excite your audience. 

<div class="clear"></div>
</div>



<a href="javascript:void(0)" class="viewbtn vmtog">View more</a>

                </div>


            </div>
            
            <div class="services_blog">
                <div class="services_heading"><div><label><h3>TRAINING</h3></label></div></div>

                <img src="images/sevicesimg2.png" alt="#" class="servicesimg" />

                <div class="services_textwrapper">
                    <p>Master the art with the guidance of one of our talented and experienced pilots! Now offering hands-on training for basic fundamentals, intermediate training and  advanced flying techniques. Our classes teach pilots how to fly their drone safely and responsibly. Learn from experts who has extensive experience. 
</p> 


<div class="moretext  ng-hide">


<div class="more_img">
  <img src="images/Training.jpg" alt="#">
  </div>


Master the art with the guidance of one of our talented and experienced pilots! Now offering hands-on training for basic fundamentals, intermediate training and  advanced flying techniques. Our classes teach pilots how to fly their drone safely and responsibly. Learn from experts who has extensive experience.<br />
<br />



 Whether you’re a beginner, hobbyist, or a recreational enthusiast, Jungle Drone’s training will be a value learning experience for you. We offer full introductory, basic, and advanced courses in a well-balanced mixed of safety, practicality and technical knowledge. Our mission is to provide you with well-informed information and skills so you’ll be successful and enjoy all of your air adventures from the very first flight. Make an investment in this exciting field of Drone Aviation today! 

<div class="clear"></div>
</div>


 <a href="javascript:void(0)" class="viewbtn vmtog">View more</a>

                </div>


            </div>

            <div class="services_blog">
                <div class="services_heading"><div><label><h3>Drone<span> Rentals</span></h3></label></div></div>

                <img src="images/sevicesimg1.png" alt="#" class="servicesimg" />

                <div class="services_textwrapper">
                    <p>Our pilots are constantly flying and filming and building our library of stock photos and video. Beautiful sweeping landscapes, scenes of mayan ruins, gorgeous beaches, city skylines and more. our stock media makes an excellent addition to promotional and commercial videos and more.</p>

<div class="moretext ng-hide">

<div class="more_img">
  <img src="images/Rental.jpg" alt="#">
  </div>

Our pilots are constantly flying and filming and building our library of stock photos and video. Beautiful sweeping landscapes, scenes of mayan ruins, gorgeous beaches, city skylines and more. our stock media makes an excellent addition to promotional and commercial videos and more.<br />
<br />

 Sometimes when you are thinking about making the very smart investment of buying your own drone, it would make sense to rent first.


<div class="clear"></div>

</div>

                    <a href="javascript:void(0)" class="viewbtn vmtog">View more</a>

                </div>


            </div>

            


            <div class="services_blog">
                <div class="services_heading"><div><label><h3>Repair</h3></label></div></div>

                <img src="images/sevicesimg3.png" alt="#" class="servicesimg" />

                <div class="services_textwrapper">
                    <p>Broke it? We’ll fix it fast. With a staff of experienced drone technicians, we’ll get you up and flying in no time. Our warehouse is fully equipped with parts and our sophisticated software will diagnose and repair your Drone from crashes or anything else. </p> 

<div class="moretext ng-hide">
<div class="more_img">
  <img src="images/Repair.jpg" alt="#">
  </div>




Broke it? We’ll fix it fast. With a staff of experienced drone technicians, we’ll get you up and flying in no time. Our warehouse is fully equipped with parts and our sophisticated software will diagnose and repair your Drone from crashes or anything else. 
<br />
<br />

 Had a hard crash? Broken propeller? Need parts replaced?  We know how important Drones are to their pilots so providing superb customer service with a peace of mind and a worry-free flight experience is what Jungle Drone is after. Get fast and competitive pricing for your drone repair. We’ll have your drone up and flying faster than our competitors. 

<div class="clear"></div>
</div>



 <a href="javascript:void(0)" class="viewbtn vmtog">View more</a>

                </div>


            </div>
            
            
            
            <div class="services_blog">
                <div class="services_heading"><div><label><h3>DRONE PARTY <span>RENTALS</span></h3></label></div></div>

                <img src="images/sevicesimg7.png" alt="#" class="servicesimg" />

                <div class="services_textwrapper">
                    <p>Can you seriously imagine coming home from a party saying “That Drone was incredible, I couldn’t 

believe how cool that was hovering about the crowd while the DJ was cutting it up!” Well you can say it 

and we can make that happen!</p> 

<div class="moretext ng-hide">
<div class="more_img">
  <img src="images/djimg.png" alt="#">
  </div>

Can you seriously imagine coming home from a party saying “That Drone was incredible, I couldn’t 

believe how cool that was hovering about the crowd while the DJ was cutting it up!” Well you can say it 

and we can make that happen!
<br />
<br />

We have Drone Rentals available for your next party! You can throw an unforgettable bash and have us 

right along for the ride. Believe me, when you have a Drone at your next party or event NO ONE is going 

to be able to forget it! We have LED light shows and all kinds of bells and whistles that come right along 

fo the experience. Make your next get together IMPOSSIBLE to forget and hire us to join the fun!

<div class="clear"></div>
</div>



 <a href="javascript:void(0)" class="viewbtn vmtog">View more</a>

                </div>


            </div>
            
            
            <div class="services_blog">
                <div class="services_heading"><div><label><h3>3D Mapping
</h3></label></div></div>

                <img src="images/sevicesimg6.png" alt="#" class="servicesimg" />

                <div class="services_textwrapper">
                    <p>Intelligent Mapping for the Invisible landscape. JungleDrone pilots are mapping professionals - 3d map scores of hectares of lands in just a few hours! With the ability to easily render flat photos into 3D models, we now have the ability to collect and scale information that was previously thought impossible inexpensively. 
</p>  


<div class="moretext ng-hide">
  
  
  <div class="more_img">
  <img src="images/3DMapping.jpg" alt="#">
  </div>

 Intelligent Mapping for the Invisible landscape. JungleDrone pilots are mapping professionals - 3d map scores of hectares of lands in just a few hours! With the ability to easily render flat photos into 3D models, we now have the ability to collect and scale information that was previously thought impossible inexpensively. 
<br />
<br />

 Get interactive, high resolution, highly accurate, realistic 3-d mapping with the help of Jungle Drone’s pilots. This is mapping made easy - without the high price. Get skillfully planned and execute flight missions and process highly detailed map for meaningful and accessible data. Our 3D mapping service is a leap in precision and efficiency, making it now possible to create 3D imagery for large projects that would be very costly with traditional satellites. 3D mapping will significantly reduce time collecting data over large areas, turning a job that takes weeks to complete into days.

<div class="clear"></div>
</div>


<a href="javascript:void(0)" class="viewbtn vmtog">View more</a>

                </div>


            </div>
            

            


            <div class="services_blog">
                <div class="services_heading"><div><label><h3>Package <span>Delivery</span></h3></label></div></div>

                <img src="images/sevicesimg4.png" alt="#" class="servicesimg" />

                <div class="services_textwrapper">
                    <p>Drone Delivery is already here - and guess what? It works! Revolutionizing the way packages delivered; get up to 5 pounds delivered anywhere, anytime. Less deliver lag time because Drones don’t get stuck in traffic. 
</p> 

<div class="moretext ng-hide">

<div class="more_img">
  <img src="images/Delivery.jpg" alt="#">
  </div>


 Drone Delivery is already here - and guess what? It works! Revolutionizing the way packages delivered; get up to 5 pounds delivered anywhere, anytime. Less deliver lag time because Drones don’t get stuck in traffic. 
<br />
<br />

 Our delivery service will fly packages directly to your doorsteps, eliminating both wait times and cost of human labor. Our package delivery service revolutionizes the way goods are shipped today, extremely fast by standards because there’s no air traffic. We provide fast pickup and delivery, easy shipment handling, affordable prices and much more. Get your package delivered quickly and safely, no matter where you are at.
 &nbsp;<a ui-sref="packagedelivery"  class="serlearmore">Learn more &raquo;</a> 

<div class="clear"></div>
</div>


 <a href="javascript:void(0)" class="viewbtn vmtog">View more</a>

                </div>


            </div>

            


        </div>


    </div>
</div>



